<!-- 上面區塊 -->
<div id="lobbyPage"
     class="row mar_bor_pad_0">
    <div class="row mar_bor_pad_0">
        <div class="row align-items-center mar_bor_pad_0"
             style="border-bottom: 2.4px solid #89E2FF;">
            <div class="col-4 mar_bor_pad_0">
                <button id="queueOrNot_button"
                        type="button"
                        onclick="queueOrNot()"
                        class="btn btn-primary button_1 bor_pad_0"
                        style="margin: 0px 0px 0px 20px;">加入排隊</button>
            </div>
            <div class="col-4 d-flex justify-content-center mar_bor_pad_0">
                <span class="d-flex font_2 justify-content-center align-items-center">線上人數：{{ online_players }}</span>
            </div>
            <div class="col-4 d-flex justify-content-end bor_pad_0">
                <span id="nickName"
                      class="d-flex font_2 justify-content-center align-items-center"
                      style="margin: 0px 20px 0px 0px;"></span>
            </div>
        </div>
    </div>

    <!-- 下面區塊 -->
    <div class="row mar_bor_pad_0">
        <!-- 左邊 - 對局列表 & 聊天室 -->
        <div class="col mar_bor_pad_0">
            <!-- 對局列表 -->
            <div class="row mar_bor_pad_0">
                <div class="col mar_bor_pad_0">
                    <span class="d-flex font_3 justify-content-center align-items-center">對局列表</span>
                </div>
            </div>
            <div class="row align-items-start mar_bor_pad_0"
                 style="margin: 0px 10px 0px 10px;
                        border: 2.4px solid #89E2FF;
                        border-radius: 5px;
                        height: 300px;">

                <div class="col overflow-auto mar_bor_pad_0"
                     style="height: 300px;">
                    <!-- 每一條對局訊息 -->
                    <div v-for="(game, index) in game_list"
                         class="row bor_pad_0"
                         style="margin: 5px 0px 5px 0px;
                                height: 40px;">
                        <div class="col mar_bor_pad_0">
                            <span class="d-flex font_3 justify-content-left align-items-center"
                                  style="margin: 0px 10px 0px 10px;">{{ index + 1 }}.</span>
                        </div>
                        <div class="col mar_bor_pad_0">
                            <span class="d-flex font_3 justify-content-center align-items-center">{{ game.white }}</span>
                        </div>
                        <div class="col mar_bor_pad_0">
                            <span class="d-flex font_3 justify-content-center align-items-center">vs.</span>
                        </div>
                        <div class="col mar_bor_pad_0">
                            <span class="d-flex font_3 justify-content-center align-items-center">{{ game.black }}</span>
                        </div>
                        <div class="col d-flex justify-content-end align-items-center mar_bor_pad_0">
                            <button type="button"
                                    @click="watch(`/reversi_online/watch/${game.game_id}`)"
                                    class="btn btn-primary button_1 bor_pad_0"
                                    style="margin: 0px 10px 0px 10px;">加入觀戰</button>
                        </div>
                    </div>
                    <!---->
                </div>
            </div>

            <!-- 聊天室 -->
            <div class="row bor_pad_0"
                 style="margin: 10px 0px 0px 0px;">
                <div class="col mar_bor_pad_0">
                    <span class="d-flex font_3 justify-content-center align-items-center">聊天室</span>
                </div>
            </div>
            <div class="row align-items-start mar_bor_pad_0"
                 style="margin: 0px 10px 0px 10px;
                        border: 2.4px solid #89E2FF;
                        border-radius: 5px;
                        height: 240px;">

                <div class="col overflow-auto mar_bor_pad_0"
                     style="height: 240px;">
                    <!-- 每一條聊天訊息 -->
                    <div id="chatWindows" class="mar_bor_pad_0">
                        <!--
                        <span class="d-flex font_3 justify-content-left align-items-center"
                              style="margin: 0px 10px 0px 10px;">123</span>
                        -->
                    </div>
                    <!---->
                </div>
            </div>
            <div class="row align-items-certer mar_bor_pad_0"
                 style="margin: 10px 10px 0px 10px;
                        border: 2.4px solid #89E2FF;
                        border-radius: 5px;
                        height: 50px;">

                <!-- 聊天訊息輸入框 -->
                <div class="col d-flex align-items-center justify-content-between mar_bor_pad_0">
                    <span id="chatNickname"
                          class="d-flex font_3 justify-content-left align-items-center"
                          style="margin: 0px 0px 0px 10px;
                                 height: 32px;"></span>
                    <input type="text"
                           id="chatInput"
                           name="chatInput"
                           placeholder="輸入聊天訊息..."
                           class="input_1 flex-fill mar_bor_0"
                           style="padding: 0px 10px 0px 10px;
                                  height: 32px;">
                    <button onclick="sendButton()"
                            class="btn btn-primary button_2 justify-content-right align-items-center bor_pad_0"
                            style="margin: 0px 10px 0px 10px;">發送</button>
                </div>
            </div>
        </div>

        <!-- 右邊 - 玩家列表 -->
        <div class="col-3 mar_bor_pad_0"
             style="border-left: 2.4px solid #89E2FF; height: 868px;">
            <div class="row mar_bor_pad_0">
                <div class="col mar_bor_pad_0">
                    <span class="d-flex font_3 justify-content-center align-items-center">玩家列表</span>
                </div>
            </div>
            <div class="row mar_bor_pad_0"
                 style="margin: 0px 10px 0px 10px;
                        border: 2.4px solid #89E2FF;
                        border-radius: 5px;
                        height: 650px;">
                <div class="col overflow-auto mar_bor_pad_0"
                     style="height: 650px;">
                    <!-- 每一條玩家暱稱 -->
                    <span v-for="lobby_players in lobby_players_list"
                          class="d-flex font_3 justify-content-left align-items-center"
                          style="margin: 5px 10px 5px 10px;">{{ lobby_players }}</span>
                    <!---->
                </div>
            </div>
        </div>
    </div>
</div>